<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.atomfrede.android.mensa"
    android:versionCode="8"
    android:versionName="2.0.0-SNAPSHOT" >
    <uses-sdk
        android:maxSdkVersion="15"
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.mensa" >
        <activity
            android:name=".upb.mensa.MensaMainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".upb.common.LocationSelectionActivity"
            android.activity.LocationSelectionActivitynActivity=""
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".upb.hotspot.BistroMainActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".upb.pub.PubMainActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".upb.snack.OneWaySnackActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name=".upb.wok.WokActivity"
            android:launchMode="singleTop" >
        </activity>
    </application>
</manifest>